.w-full input[type='file']::-webkit-file-upload-button {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.w-full input[type='file']::-moz-file-upload-button {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
