@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #F3EFE0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #1F2937;
}

